body {
    background: #FA8072;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
    color: #FF0000;
    text-align: center;
    }
    .about {
    background: #00b3d1;
    }
    .skills {
    background: #00b3d1;
    }
    .projects {
    background: #00b3d1;
    }
    .contact {
    background: #00b3d1;
    }